@media (max-width:1023px) { // vista tablet y celular

.equipos-noticias{
    grid-template-rows: 1fr 1fr 1fr;
    .mainEquipos{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "tablaEquipos";
        
        
        .tablaEquipos{    
            grid-area: tablaEquipos;
            
            
                .plantillaEquipos{
                 
                    display: grid;
                    grid-template-columns:0.8fr;
                    grid-template-rows: 0.7fr 1fr;
                    column-gap: 5px;
                    grid-template-areas: 
                    "infoEquipos"
                    "jugadores";
                    justify-content: center;
                    
                     .infoEquipo{
                        div{
                     
                            display: flex;
                           
                            justify-content: center;

                        }
                     }
                    div{
                        
                        height: max-content;
                        .escudo{
                            text-align: center;
                        }
                    }

                   
                }
            }   
                      
            
        }
    }



    .bodyContacto{
        row-gap: 0.2px;
        .mainContacto{
            article{
                
                form{
                    div{
                        textarea{
                            width: 100px;
                        }
                    }
                }
            }
        }
      }
    

    .bodyEstadisticas{

        .main2{ 
            
            grid-area: main2;
            grid-template-rows: repeat(4,0.5fr);
            grid-template-columns: 1fr;
            grid-template-areas: 
            "robos"
            "rebotes"
            "tapones"
            "puntosEquipo"
            ;   
        }

      
     .robos{
        grid-area: robos;
     }
     .rebotes{
        grid-area: rebotes;
     }
     .tapones{
        grid-area: tapones;
     }
     .puntosEquipo{
        grid-area: puntosEquipo;
     }

    }

    main{
        grid-area: main;
        display: grid;
        height: auto;
        grid-template-rows: repeat(3,0.5fr);
        grid-template-columns: 1fr;
        grid-template-areas: 
         "lado2" 
         "lado1" 
         "lado3"
        ;
        column-gap: 15px;
        row-gap: 20px;
        @include marginLat(15px,15px);

        .asistencias table tr td , .posiciones table tr td {
            text-align: start;
        }


    }

  

  

nav{
    ul{
		li{
			a{
				&:hover{
					transform: scale(1);
				}
				
			}
		}
	}
}

// Cambio de nombre de area para reordenar en vista tablet y celular

.posicionesN {
	grid-area: lado3 ;

}
.noticiasN {
	grid-area: lado1 ;
}
.miniNoticiasN {
	grid-area: lado2;
}
.asistencias {
	grid-area: lado2;
    
}
.posiciones {
	grid-area: lado1;
}
.goleadores {
	grid-area: lado3;
}

.noticiasN{
    .contenedor-padre-noticias{
        .carta-contenedor{
            height:max-content
        }
    }
}


// Optimizar largo de tablas

.lado2 , .lado1 , .lado3{
    height: max-content;
}
.lado2 table tr th, .lado1 table tr th, .lado3 table tr th {
	text-align: start;
	font-size: 1rem;
  
}
.lado2 table tr td, .lado3 table tr td {
	text-align: center;
	font-size: 1rem;
	// padding-left: 1px;
	// padding-right: 1px;
    @include paddingLat(1px,1px);

}

 .centrarTabla table tr td , .centrarTabla table tr th{
    width: 33%;
    height: max-content;
    text-align: center;
}

.galeria{

    figure{

        @include paddingLat(5px,5px);
        
        img{
            
            border: $bordeImgGaleria;
        }
        figcaption{
            height: 55px;
            @include flexAlineacion(flex,center,center);
            // display: flex;
            // align-items: center;
            // justify-content: center;
        }
    }

}



}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 

	main{
		
			
			.centrarTabla table tr th , .centrarTabla table tr td{
				width: 33%;
				height: max-content;
				text-align: center;
				font-size: 0.8rem;
				
			}
			

	}
  }