
.body-noticias{

    height: 200vh;
    display: grid;
	grid-template-rows: 0.1fr 1fr 0.05fr;
	grid-template-columns: 1fr;
	grid-template-areas: "header"
     "main"
     "footer"
    ;


    
  .mainNoticias{
    display: grid ;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    grid-template-areas: "articulo";
    padding: 40px;
    margin-top: 5px;
   
  }



   .noticiasN{
        height: max-content;
        grid-area: articulo;
        h1{
            font-size: 2rem;
        }
        .contenedor-padre-noticias{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content:space-around;
            margin-bottom: 15px;
            
            
            .carta-contenedor{
                display:flex ;
                justify-content: space-around;
                
                height:auto;
               
           
                .card{
                    img{
                        height: 150px;
                    }
                   
                    width: 300px;
                    
                    cursor:default;
                    &:hover{
                        transform: scale(1.03);
                    }
                }
               
            }
        }
    }
}