$colorNaranja : rgba(224, 71, 0, 0.829);

$fondoPagina : #212529 ;

$fondoDatoTablaOscuro : rgb(17, 17, 17) ;

$colorLetraDatoTablaOscuro : rgb(17, 17, 17) ;

$bordeImgGaleria : 2px solid rgb(233, 224, 224) ;

$bordeTablas : 2px solid black;

$bordeNaranja : 2px solid orangered;

$fondoTablas : rgb(151, 140, 140);

$tamanoTitulos :  1.5rem;

$fondoTitulos : rgb(0, 0, 0);

$colorTitulos : rgb(238, 247, 255) ;

$colorLetraFigcaption : #fff ;

$fondoFigcaption : #222 ;

$fondoDt : rgba(12, 12, 141, 0.281) ;



